@model IEnumerable<DataLayer.ProductPathImage>


@{
    ViewData["Title"] = "ImageList";
}




    <div class="row m-4 px-1 py-4 border backgroundWhite" dir="ltr">
        <div class="col-lg-12 mb-4">
            <div class=" text-right">
                <a asp-action="CreateImage" asp-route-id="@ViewBag.productid" class="btn btn-primary fontiran"><i class="fas fa-plus"></i> &nbsp; ایجاد تصویر</a>
                <a asp-controller="CreateProduct" asp-action="Next" asp-route-id="@ViewBag.productid" class="btn btn-info m-1 fontiran"> &nbsp; محصول</a>
            </div>
        </div>

        <div class="col-lg-12 col-12" >
            @if (Model != null)
            {


                <table id="myTable" class="table table-striped  table-bordered fontiran dt-responsive nowrap" width="100%" dir="rtl">
                    <thead>
                        <tr>
                            <th class="d-flex flex-wrap">
                                <div style="white-space: nowrap;display: inline-block;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;">
                                    @Html.DisplayNameFor(model => model.product.Name)
                                </div>

                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ImagePath)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="d-flex flex-wrap">
                                <div style="white-space: nowrap;display: inline-block;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;">
                                    @Html.DisplayFor(modelItem => item.product.Name)
                                </div>

                            </td>
                            <td>
                                <img src="~/ProductImages/@item.ImagePath" class="img-thumbnail" style="max-width:120px;" asp-append-version="true" />
                            </td>

                            <td>
                                <a class="btn " asp-action="Edit" asp-route-id="@item.MyProperty" asp-route-ProductId="@ViewBag.productid" style="background-color:#ff7840"><i class='far fa-edit'></i> </a>

                                <a class="btn text-white" onclick="Delete(@item.MyProperty)" style="background-color:#4531ba">    <i class='far fa-trash-alt'></i> </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>






@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });

        function Delete(id) {
            swal({

                title: "Are you sure you want to delete",

                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                closeOnconfirm: true,

            }, function () {
                $.ajax({
                    type: 'GET',
                    url: "/Admin/ProductPathImages/DeleteImage/" + id,
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            toastr.success(data.message);
                            setTimeout(function () { location.reload(); },100 );



                        }
                        else {
                            toastr.error(data.message);
                        }
                    },
                    error: function (error) {
                        toastr.error("U cant delet this ");

                    }

                });
            });
        }



    </script>

}

