@model IEnumerable<DataLayer.Properties>

@{
    ViewData["Title"] = "PropertyDetail";
}


<p>
    <a id="BtnNewProp" class="btn btn-success">Create New</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PropertiesId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PropertiesId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PropertiesId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


